body {
  padding: 50px;
  font: 14px Helvetica, Arial, sans-serif;
  background-color: #f7f8cf;
}
.box {
  background-color: #011526;
  color: #ffffff;
  border-radius: 1%;
  text-align: center;
  margin-bottom: 40%;
}
input {
  color: #D9D389;
  background-color: #013A40;
}
